.person_header {
  margin-left: auto;
  margin-right: auto;
  width: 70%;

  align-items: center;

  display: grid;
  grid-template-columns: 8vw auto 8vw;
  text-align: center;
}

.navbar {
  width: 100vw;
  height: fit-content;

  background-color: white;
  border-bottom: solid #c7c7c7;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.big_button_box {
  margin-top: 15vh;
  border-bottom: solid 2px #e5e1ee;
}
.contact_button {
  background: #ffffff;
  color: black;
  font-size: 1.5rem;
  padding: 0;
  border: none;
}
.accent_button {
  background-color: #957fef;
  border: 1px solid;
  border-color: #957fef;
  border-radius: 10px;
  color: #ffffff;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5vw;
  cursor: pointer;
  font-family: Verdana, Arial, sans-serif;
  transition-duration: 0.1s;
}

.prompt_box {
  width: 100vw;
  height: fit-content;
  border: 1px solid #000;
  text-align: center;
  margin-top: 5vh;
}

.contact_grid {
  display: grid;
  grid-template-columns: auto max-content;
  text-align: cienter;
  border-top: solid 2px #e5e1ee;
}

.button {
  background-color: #e5e1ee;
  border: 1px solid;
  border-color: #303030;
  border-radius: 10px;
  color: #303030;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5vw;
  cursor: pointer;
  font-family: Verdana, Arial, sans-serif;
  transition-duration: 0.1s;
}

.p {
  margin: 0;
  color: #8b728e;
}
