.footbar {
  width: 100vw;

  background-color: white;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #e5e1ee;
  border: 1px solid;
  border-color: #303030;
  border-radius: 10px;
  color: #303030;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5vw;
  cursor: pointer;
  font-family: Verdana, Arial, sans-serif;
  transition-duration: 0.1s;
}
.buttoncontinue {
  background-color: #e5e1ee;
  border: 1px solid;
  border-color: #303030;
  border-radius: 10px;
  color: #303030;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5vw;
  cursor: pointer;
  font-family: Verdana, Arial, sans-serif;
  transition-duration: 0.1s;
  position: fixed;
  bottom: 1px;
  right: 1px;
}
.buttoncontinuecover {
  background-color: white;
  border: none;
  border-radius: 0px;
  color: white;
  padding: 0;
  margin: 5vw;
  animation: enable-button ease-out 10s;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2rem;
}

.container {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-directioin: column;
}

.reflection_message {
  color: black;
  text-align: center;
  font-size: 30px;
  padding: 5px;
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.textarea {
  font-family: Verdana, Arial, sans-serif;
  border: 1px solid;
  border-color: #303030;
  border-radius: 6px;
  color: #303030;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px;
}

.text_area_container {
  width: 100vw;
  text-align: center;
}
.square {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  background-color: #957fef;
}

@keyframes enable-button {
  0% {
    width: 30vw;
  }
  100% {
    width: 0vw;
  }
}

.slider {
  -webkit-appearance: none;
  width: 80vw;
  height: 4vw;
  background: #e5e1ee;
  outline: none;
  display: inline;
  border-radius: 2vw;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5vw;
  height: 5vw;
  background: #957fef;
  cursor: pointer;
  border-radius: 2vw;
}

.slider::-moz-range-thumb {
  width: 5vw;
  height: 5vw;
  background: #957fef;
  cursor: pointer;
  border-radius: 2vw;
}
