.message_platform {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  max-height: 70vh;
  overflow: scroll;
}

.message_input {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.Message {
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
}

.full_height_flexbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25vw;
}

.full_width_flexbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.message_header {
  margin-left: auto;
  margin-right: auto;
  width: 98%;

  align-items: center;

  display: grid;
  grid-template-columns: 15vw 15vw auto 15vw 20vw;
  text-align: center;
}

.header_button {
  height: 4.5vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

.navbar {
  width: 100vw;
  height: fit-content;

  background-color: white;
  border-bottom: solid #e5e1ee;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.message_view {
  max-width: 85vw;
  max-height: 75vh;
  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;

  margin-right: auto;
  margin-left: auto;

  margin-top: 12vh;
}

.seperator_view {
  margin-top: 2vh;
}

.input_view {
  margin-right: auto;
  margin-left: auto;

  width: auto;

  display: grid;
  grid-template-columns: 75vw auto;
  padding: 0.1rem;
}

.message_box_input {
  width: 70vw;
  height: 5vh;
}

.message_box_send {
  height: 6vh;
  margin-right: 3vw;
}

.message_view::-webkit-scrollbar {
  display: none;
}

.stretch_fill_flexbox {
  flex: 1 1 auto;
}

.scroll_fill_flexbox {
  flex: 1 1 auto;
  overflow: scroll;
}

.display_content_container {
  display: contents;
}

.bubbleR {
  max-width: 60%;
  width: fit-content;
  text-align: justify;
  position: relative;
  background: #957fef;
  border-radius: 0.4em;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-left: auto;
  margin-top: 5px;
  color: white;
}

.bubbleR:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-left-color: #957fef;
  border-right: 0;
  margin-top: -3px;
  margin-right: -3px;
}

.bubbleL {
  max-width: 60%;
  width: fit-content;
  text-align: justify;
  position: relative;
  background: #e5e1ee;
  border-radius: 0.4em;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 5px;
  color: #2f2f2f;
}

.bubbleL:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-right-color: #e5e1ee;
  border-left: 0;
  margin-top: -3px;
  margin-left: -3px;
}

.chatWith {
  font-size: 1rem;
}

.notes_header {
  margin-top: 12vh;
  text-align: center;
}

.notes_input {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  height: 50vh;
}

.popup {
}
