.App {
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
}

.button {
  background-color: light-grey;
  border: 1px solid;
  border-color: #303030;
  border-radius: 10px;
  color: #303030;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Verdana, Arial, sans-serif;
  transition-duration: 0.1s;
}

.button:hover {
  background-color: #707070;
  border-color: #707070;
  color: white;
}

.textarea {
  font-family: Verdana, Arial, sans-serif;
  background-color: light-grey;
  border: 1px solid;
  border-color: #303030;
  border-radius: 6px;
  color: #303030;
  padding: 5px 5px;
}

.chat-image {
  height: 100%;
}
